div {
    width: 100px;
    height : 100px;
    margin : 10px;
    font-size : 30px;
    Background-color : pink;
}

.orange{
    background-color: orange;
}

.lightblue{
    background-color: lightblue;
}

#yellow{
    background-color: yellow;
}

div:hover {
    background-color: grey;
}